*{
  font-family: "Montserrat", sans-serif;
}

#bg {
  background-image: url('https://cdnl.iconscout.com/lottie/premium/thumb/404-error-page-animation-gif-download-3299952.gif');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}